body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    width: 300px;
    padding: 12px;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-size: 0.9em;
}

